<p id="notice"><%= notice %></p>

<!--<h1>Projects</h1>-->

<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Programming Projects<br></h1>
           <p><br>My name is Sean Campbell and this is a portfolio demonstrating many of the different programming projects that I have made throughout my college career. I am currently a junior working on receiving a Bachelor's degree in Computer Science.</p>
        </div>
      </div>

      <hr>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <tbody>
            <% @projects.each do |project| %>
              <div class="col-md-4">
                <tr>
                  <h2><%= project.title %></h2>
                  <td><%= project.description %><br></td>
                  <td class="btn btn-secondary" role="button"><%= link_to 'Show', project %></td>
                  <td><%= link_to 'Edit', edit_project_path(project) %></td>
                  <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              </div>
            <% end %>
          </tbody>
        </div>

        <hr>

      </div> <!-- /container -->
<br>
</body>

<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<%= link_to 'Create Project', new_project_path %></p>