<p id="notice"><%= notice %></p>

<!--<h1>Projects</h1>-->

<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Programming Projects<br><br></h1>
        </div>
      </div>

      <hr>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <tbody>
            <% @projects.each do |project| %>
              <div class="col-md-4">
                <tr>
                  <h2><%= project.title %></h2>
                  <td><%= project.description %><br></td>
                  <td class="btn btn-secondary" role="button"><%= link_to 'Show', project %></td>
                  <td><%= link_to 'Edit', edit_project_path(project) %></td>
                  <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              </div>
            <% end %>
          </tbody>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->
<br>
</body>

<%= link_to 'Create New Project', new_project_path %>